/* style.css */

body {
    background-image: url("../images/seattle.jpg");
    background-size: 100%;
    background-attachment: fixed;
    overflow: scroll;

}

.title {
    text-align: center;
    padding: 20px;
}

.triviaQuestions {
    text-align: center;
}

.question1 {
    font-size: 20px;
}

.question2, .question3, .question4, .question5, .question6, .question7, .question8, .question9, .question10 {
    padding-top: 40px;
    font-size: 20px;
}

.answerOptions {
    font-size: 20px;
}
